html,body{
   background-color: #fff;
   font-family:"Barlow Semi Condensed"!important  ;
   font-size: 16px;
   font-weight: 400;
}
.color-black{
    color: #444;
}
p{
    font-size: 1.4rem;
}
h2{
    font-weight: 500;
    font-size: 3rem;
    color:#444;
    text-shadow:2px 1px 2px #ea5106;
    margin:2rem 0 1rem 3rem;
}
h2 i{
    text-shadow: 1px 2px 2px #ea5106;
}
h3{
    font-size: 1.4rem;
    font-weight: 500;
}
form{
    display: inline-block;
}
.badge{
    font-weight: 500;
    font-size: .92rem;
}

button:focus,
input:focus{
    outline: 0!important;
    border:0!important;
}
input[type=text]{
    padding: .1rem .4rem;;
}
.navbar-header .dropdown-menu{
    border-radius: 0!important;
    background-color: transparent;
    padding: 0 .3rem;
    border-width: .2rem;
    border-top:0;
    border-right: 0;
    border-bottom:0;
}
.border,.table thead th{
    border-color: #ccc;
}
.header{
    background-color: #ea5106;
}
.header a{
    color: #444;
}
.header-wrapper{
    min-height: 20rem;
    color: #fff;
}
.wrapper{padding:2rem;}
.header-master{
    padding: .5rem 0;
}
.main{
    margin:  2.1rem auto 0 auto;
    padding:3rem;
    min-height: 35rem;
    background-color: rgb(228, 225, 225);
    border-color:white!important;
}
.btn{
    padding: .2rem;
    margin:.2rem;
    color: white;
}
.btn-destroy{
    background-color: rgb(211, 42, 36);
    color: white;
}
.pagination li{
    padding: .2rem .6rem;
    border: 1px solid #dee2e6;
    color: #007bff;
}
.pagination li.active{
    background-color: #007bff;
    color: #fff;
}
.nav-link.active{
    color: white;
}
.btn-menu{
    cursor: pointer;
    border-radius: .5rem;
    border: solid .09rem #555454;
    padding: .2rem .4rem;
    background-color: rgb(232, 236, 238);
}
.icon-menu{
    font-size: 1.5rem;
    font-weight: lighter;
    color: #555454;
}
.alert{
    padding: .35rem!important;
}
.msg{
    display: inline-block;
    padding:.2rem;
    margin:.1rem 0;
}
.wrapper-search{

    padding-top:.35rem;
}
.wrapper-search input,
.wrapper-search .input-group-text{
    border: none;
    border-radius: 0!important;
}
 .wrapper-search input[text]:focus,
 .wrapper-search input[text]:selected{
    outline: 0!important;
    border: 0!important;
    border-color: transparent;
    appearance: none;
}
.f-25{
    font-size: .25rem;
}
.f-5{
    font-size: .5rem;
}
.f-75{
    font-size: .75rem;
}
.f1{
    font-size: 1rem;
}
.f1-25{
    font-size: 1.25rem;
}
.f1-5{
    font-size: 1.5rem;
}
.f1-75{
    font-size: 1.75rem;
}
.f2{
    font-size: 2rem ;
}
.f3{font-size: 3rem ;}
.f4{font-size: 4rem ;}
.f5{font-size: 5rem ;}
.f6{font-size: 6rem ;}
.f7{font-size: 7rem ;}
.f8{font-size: 8rem ;}
.f9{font-size: 9rem ;}
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    h3{
        font-size: 1.7rem;
    }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }