/*Hoja de stilos master css*/
html,body{
   background-color: #fff;
   font-family:"Barlow Semi Condensed"!important  ;
   font-size: 16px;
   font-weight: 400;
}
a:link{
    text-decoration: none;
    color:white;
}
.color-black{
    color: #444;
}
p{
    font-size: 1.1rem;
}

.footer{
    margin-top:2rem;
}
h2{
    font-weight: 300;
    font-size: 3rem;
    color:#444;
    margin:6rem 0 1rem 3rem;
}

h3{
    font-size: 1.4rem;
    font-weight: 500;
}

.badge{
    font-weight: 500;
    font-size: .92rem;
}

button:focus,
input:focus{
    outline: 0!important;
    border:0!important;
}
.contact-form>div{
    position: relative;
    width:0;/*24rem*/
    margin: auto;
    padding: 3rem 0;
}
.contact-form>div.show-form{
    width: 24rem;
}
.contact-form>div:before,
.contact-form>div:after{
    display: block;
    position: absolute;
    top: 40%;
    content: '';
    width: 60px;
    height: 94px;
    background-image: url('../images/page/envelope-left.svg');
    background-size: 100%;
}
.contact-form>div:before{
    left:-60px;
}
.contact-form>div:after{
   
    transform:rotateY(180deg) ;
    right:-60px;
}
.contact-form .form-group{
    width:0;/*20rem*/
    display: none;
    overflow: hidden;   
}
div.show-form .form-group{
    width: 20rem!important;
    display: block;
    transition-delay: 2s;
}
.contact-form .form-control{
    border-radius: 0;
    background:transparent;
    border: 0;
    border-bottom:solid .125rem #555;
    margin-left: 1rem;
}
.contact-form  label{
    min-width: 4.5rem;
    font-weight: 700;
    color: #555;
}
.contact-form .submit{
    background-color: transparent;
    padding: .25rem;
    margin-top: .5rem;
    border:0;
    font-weight: 700;
}
.contact-form .submit:hover{
    background-color: #555;
    cursor: pointer;
}
input[type=text]{
    padding: .1rem .4rem;;
}
.letter-logo{
    opacity: 1;
}
.pagination{
    margin-top: 1rem;
    justify-content: space-around;
}
.pagination li{
    font-size: 1.2rem;
}
.pagination li a{
    color: #ea5106;
}
.pagination li span{
    color: rgba(0,0,0,.3);
}
.navbar-header .dropdown-menu{
    border-radius: 0!important;
    transition: all 2s ease;
    padding: 0 .3rem;
    border: 0;
}
.border,.table thead th{
    border-color: #ccc;
}
.header ,.bg-o{
    background-color: #ea5106;
}
.header{
    background-image: url('../images/page/code.png') ;
    background-position: center;
    background-repeat: no-repeat;
    /*background-attachment: fixed*/;
}
.fixed{
    position: fixed!important;
    max-height: 7.8rem;
    background-color: #ea5106;
    z-index: 100;
    top: 0!important;
}
.fixed .remove{
    
    display: none;
}
.fixed .header-wrapper{
    min-height: 5px;
}
.no-templates,.wrapper-blog,.aside-blog{
    position: relative;
    background-color: #fff;
}
.header a{
    color: #444;
}
.header-cont-nav{
    border-bottom: #f36e2b solid .2rem;
}
.header-cont-nav>div{
    border-color:#f36e2b!important;
    border-width: .2rem!important;
}
.article.card{
    border:0;
}
.article .card-image-cont{
    overflow: hidden;
    position: relative;
    height: 16rem;
}
article img{
    position: absolute;
    left: -25%;
}
.article-more-link{
    font-size: 1.3rem;
    color: #ea5106;
}
.article-more-link:hover  i,
.recent-articles .btn:hover i,
.btn-l:hover i{
    color: #444;
    padding-left: .6rem;
}
.btn-l{
    display: inline-block;
    min-width: 4rem;
}
#btn-msg{
    margin-left: -5rem;
}
.contact{
    background:url('../images/page/bg.jpg') center no-repeat #ea5106;
    background-size: cover;
}
.contact h2{
    margin: 0 0 2rem 0;
     
}
.c-w{
    color:#fff;
}
.c-o{
    color:#ea5106;
}
.bolder{
    font-weight: 700;
}
.header-wrapper{
    min-height: 20rem;
    color: #fff;
}
.wrapper{min-height: 35rem; padding: 2rem 0;}
.header-master{
    padding: .5rem 0;
}
.main{
    margin:  2.1rem auto 0 auto;
    padding:3rem;
    min-height: 35rem;
    background-color: rgb(228, 225, 225);
    border-color:white!important;
}
.no-templates{
    box-shadow: rgba(224, 77, 19, 0.2) 0 -15rem  10rem inset;
}
.recent-works{
    
    box-shadow: rgba(224, 77, 19, 0.2) 0 8rem  15rem inset;

}
.no-templates-images img:first-child{
    width: 200px;
    height: 200px;
}
.no-templates-images img:last-child{
    width: 250px;
    height: 250px;
    margin-top: -100px;
}
.recent-articles .btn{
    min-width: 4rem;
    border-radius: 0!important;
}
.recent-works{
    overflow: hidden;
}
.btn{
    padding: .2rem;
    margin:.2rem;
    color: white;
}
.btn-destroy{
    background-color: rgb(211, 42, 36);
    color: white;
}
.pagination li{
    padding: .2rem .6rem;
    border: 1px solid #dee2e6;
    color: #007bff;
}
.pagination li.active{
    background-color: #007bff;
    color: #fff;
}
.nav-link.active{
    color: white;
}
.btn-menu{
    cursor: pointer;
    border-radius: .5rem;
    border: solid .09rem #555454;
    padding: .2rem .4rem;
    background-color: rgb(232, 236, 238);
}
.text-copright{
    line-height: .9rem;
}
.icon-menu{
    font-size: 1.5rem;
    font-weight: lighter;
    color: #555454;
}
.alert{
    padding: .35rem!important;
}
.transition{
    transition:all .5s ease;
}
.transition-x{
    transition:all 1s ease;
}
.transition-xx{
    transition:all 1.5s ease;
}
.msg{
    display: inline-block;
    padding:.2rem;
    margin:.1rem 0;
}
.work-info .border-bottom{
    border-color:#ea5106!important;
}
.wrapper-search{
    padding-top:.35rem;
}
.wrapper-search input,
.wrapper-search .input-group-text{
    border: none;
    border-radius: 0!important;
}
 .wrapper-search input[text]:focus,
 .wrapper-search input[text]:selected{
    outline: 0!important;
    border: 0!important;
    border-color: transparent;
    appearance: none;
}
.f-25{
    font-size: .25rem;
}
.f-5{
    font-size: .5rem;
}
.f-75{
    font-size: .75rem;
}
.f1{
    font-size: 1rem;
}
.f1-25{
    font-size: 1.25rem;
}
.f1-5{
    font-size: 1.5rem;
}
.f1-75{
    font-size: 1.75rem;
}
.f2{
    font-size: 2rem ;
}
.f3{font-size: 3rem ;}
.f4{font-size: 4rem ;}
.f5{font-size: 5rem ;}
.f6{font-size: 6rem ;}
.f7{font-size: 7rem ;}
.f8{font-size: 8rem ;}
.f9{font-size: 9rem ;}
#iso-gs .path{
    transform: translateY(4rem);
    animation-delay: .5s;
}
#iso-gs .path:last-child{
    animation-delay: .8s;
}
#iso-gs{
    display: none;
}
#iso-gs.up{
    display: inline-block;
    transform: translateY(-7.9rem);
}
#iso-gs.up .path{
    animation: iso1up 1s.5s  1 ease forwards ;
}
#iso-gs.up .path:last-child{
    animation: iso1up 1s 1s 1 ease forwards;
}
.delay-x{
    transition-delay: .3s;
}
.delay-xx{
    transition-delay: .6s;
}
.sc-anim{
    transform: translateY(3rem);
    opacity: 0;
}
.sc-anim.view{
    transform: translateY(0);
    opacity: 1;
}
@keyframes iso1up{
    65%,68%{
        transform: translateY(.1rem) scale(.9);
    
    }
    70%,73%{
        transform: translateY(.3rem) scale(.85);
    
    }
    85%,88%{
        transform: translateY(.1rem) scale(.80);
    }
    90%,93%{
        transform: translateY(.2rem) scale(.85);
    }
    100%{
        transform: translateY(0) scale(.9);
    }
}

@media (min-width: 576px) { 
    .fixed{
        max-height: 4rem;
        
    }
    #iso-gs.up{
        transform: translateY(-11.7rem);
    }
    .header-cont-nav>div{
        border-right: #f36e2b solid .1rem ;
    }
    .header-cont-nav>div:last-child{
        border-left: #f36e2b solid .1rem ;
        border-right:none;
    }
    .header-cont-nav{
        border-bottom: none;
    }
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    h3{
        font-size: 1.4rem;
    }
    
    .no-templates-images img:last-child{
        width: 250px;
        height: 250px;
        margin-top: 0;
        margin-left: -50px;
    }
    .work{
        margin-bottom: 3rem;
    }
    
    .recent-articles .articles-link{
        margin:4rem auto;
    }
    .work-wrapper{
        max-width: 16rem;
    }
    .contact-form>p{
        margin-left: 10rem;
        padding-top: 4rem;
    }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    p{
        font-size: 1.3rem;
    }
    h3{
        font-size: 1.7rem;
    }
    .no-templates-images img:first-child{
        width: 350px;
        height: 350px;
        margin-top: 0;
        margin-left: -50px;
    }
    .no-templates-images img:last-child{
        width: 400px;
        height: 400px;
        margin-top: 0;
        margin-left: -50px;
    }
    .work::after{
        content: '';
        border: solid .1rem #ea5106;
    }
    .wrapper{
        padding: 4rem 0;
    }
    .recent-articles .article img{
        position: relative;
        left: 0;
        margin: auto;
    }
    .card-image-cont{
        
        display: flex;
        justify-content: center;
    }

    
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    
  }