.header-home{
    background-color: #ea5106;
}
.header-home a{
    color: #444;
}
.header-home-wrapper{
    min-height: 20rem;
    color: #fff;
}
.article-cont-image{
    max-width: 100%;
    min-height: 15rem;
    max-height: 15rem;
}
.article-image{
    width: 100%!important;
    min-height: 14rem;
    max-height: 14rem;
}

