.header-home{
    background-color: #ea5106;
}
.header-home a{
    color: #444;
}
.header-home-wrapper{
    min-height: 20rem;
    color: #fff;
}
.articles-cont-image,.article-cont-image{
    
    position: relative;
    width: 90%;
    height: 14rem;
}
.articles-cont-image,.article-cont-image{
    width: 20rem;
    height: 20rem;
}
.article-image{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    
}

